
<!DOCTYPE html>
<html>
<head>
<title>Edit Web Application</title>
</head>
<body>
<h1>Edit Web Application</h1>
<form action="/update_app_action" method="post">
<label for="app_name">Application Name:</label>
<input type="text" name="app_name" id="app_name" value="{{ app.app_name }}">
<br>
<label for="app_description">Application Description:</label>
<textarea name="app_description" id="app_description">{{ app.app_description }}</textarea>
<br>
<input type="submit" value="Update">
</form>
</body>
</html>

